<!-- <div class="carrousel-brands">
  <div class="container">
   <div class="row center">
     <div class="col-md-12">
      <h2>Algunas marcas con las que hemos trabajado</h2>
    </div>
  </div>
  <div class="row center">
   <div class="owl-carousel carrousel-brands">
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/schaferhund.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/btn_darwin.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/letzen.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/uelts.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/postanak.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/westen.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/baronesa.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/wallem.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/tiwaz.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/brujas.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/penon_del_aguila.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/berkeler.png", class: "img-responsive" %>
    </div>
    <div>
      <%= image_tag "https://s3-sa-east-1.amazonaws.com/bierful/images/logos/cruz_diablo.png", class: "img-responsive" %>
    </div>
  </div>
</div>
</div>
</div>
 -->
